<!--<app-img-slider [imgH]="700"-->
<!--                [imgW]="500"-->
<!--                [wrapperH]="600"-->
<!--                [wrapperW]="600"-->
<!--                [overflowAnimationSpeed]="500">-->

<!--</app-img-slider>-->
<angular-image-inspector
  [imgH]="700"
  [imgW]="500"
  [overflowAnimationSpeed]="250"
  [wrapperH]="600"
  [wrapperW]="600">
  <!--  <img-->
  <!--    src="../assets/baby_yoda.svg"-->
  <!--    alt="some baby yoda with kustosz"-->
  <!--    width="200"-->
  <!--    height="200"/>-->
</angular-image-inspector>
